@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gluten&family=Oleo+Script&family=VT323&display=swap');



html, body, .container{
    height: 100%;
    background-color: #ffffff;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator{
    width: 420px;
    height: 680px;
    border: 1px solid #485342;
    /* background-color: #d8ddda; */
    background-color: rgb(0, 0, 0);
    border-radius: 20px;
    box-shadow: 10px 10px 10px rgb(104, 103, 103);
}

.desc{
    display: flex;
}

.calculator-screen{
    display: inline-block;
    width: 380px;
    height: 100px;
    margin: 20px 10px 20px 10px;
    border-radius: 10px;
    border: 7px solid rgb(83, 83, 83);
    font-size: 30px;
    font-weight: bolder;
    font-family: "VT323";
    text-align: right;
    font-size: 45px;
    color: black;
    background-color: rgb(188, 197, 188);
}

.calculator-keys{
    height: 340px;
    margin-left: 0px;
}

.number, .operator, .decimal, .pangkat, .delete, .all-clear, .equal-sign, .percentage, .divide{
    width: 105px;
    height: 105px;
    float: left;
    background-color: rgb(185, 40, 40);
    color: white;
    font-size: 35px;
    font-weight: bolder;
    font-family: monospace;
    border: 1px solid black;
}

.delete, .pangkat{
    font-size: 20px;
}

.zero{
    border-radius: 0px 0px 0px 20px;
}

.equal-sign{
    border-radius: 0px 0px 20px 0px;
}



@media (max-width: 1000px){
    .calculator{
        width: 360px;
        height: 595px;
    }

    .calculator-screen{
        width: 320px;
        height: 90px;
        font-size: 40px;
    }


    .calculator-keys{
        height: 480px;
        /* border: 2px solid white; */
    }

    .number, .operator, .decimal, .pangkat, .delete, .all-clear, .equal-sign, .percentage, .divide{
        width: 90px;
        height: 90px;
        font-size: 25px;
    }

    .delete, .pangkat{
        font-size: 20px;
    }
} 

@media (max-width: 670px){
    .calculator{
        width: 200px;
        height: 310px;
    }

    .calculator-screen{
        width: 160px;
        height: 35px;
        font-size: 30px;
        margin: 15px 10px 15px 10px;
    }

    .calculator-keys{
        height: 215px;
        /* border: 2px solid white; */
    }

    .number, .operator, .decimal, .pangkat, .delete, .all-clear, .equal-sign, .percentage, .divide{
        width: 50px;
        height: 48px;
        font-size: 15px;
    }

    .delete, .pangkat{
        font-size: 10px;
    }
}